* {
    margin : 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: firebrick;
    color : black;
    padding : 4vh 0;
}

#habac {
    padding: 10px;
    background-color: rgb(237, 241, 5);
    color: blue;
    border-radius: 5px;
    margin: 10px;
}