* {
    margin : 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: rgb(161, 158, 158);
}
header {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(143, 142, 142);
    color : white;
    padding : 4vh 0;
}