* {
    margin : 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: firebrick;
    color : black;
    padding : 4vh 0;
}
#Mohammed{
padding: 10px;
margin: 10px;
color: black;
border: 10px;
border-radius: 5px;
background-color: red;
}