* {
    margin : 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: firebrick;
    color : black;
    padding : 4vh 0;
}

#yohan {
    padding : 10px;
    background-color: blueviolet;
    border-radius: 10px;
    color: aliceblue;
    margin: 10px;



}